{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Header -->
<div class="columns">
  <div class="column has-text-black has-text-centered">
	  Crear Orden Automatica
  </div>
</div>
<div class="table-container">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr class="has-background-grey-lighter">
                <th>Nombre</th>
                <th>Score</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in supplier%}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.active}}</td>
		<td class="has-text-right">
    		<button class="button is-small is-white is-outlined has-text-grey"
            	title="Add"
        	<span class="icon">
            	<i class="fas fa-plus"></i>
        	</span>
		</td>
    </button>
            {% empty %}
            <tr>
                <td colspan="4" class="has-text-centered py-5">
                    <div class="notification is-warning is-light">
                        No se encontraron provedores 
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

