{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 class="title is-3 has-text-centered mb-6">ERP Modules</h1>

<div class="columns is-multiline is-centered">
  {% for module in modules %}
    <div class="column is-one-quarter">
      <a href="{{ module.url }}" class="button is-fullwidth is-light is-large">
        <span class="icon"><i class="{{ module.icon }}"></i></span>
        <span>{{ module.name }}</span>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
